[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=lld"]

[target.x86_64-pc-windows-msvc]
linker = "rust-lld.exe"

[build]
target = "x86_64-pc-windows-msvc"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3
